name: CI

on:
  push:
    branches:
      - main
      - task/**
      - hotfix/**
  pull_request:
    branches:
      - main
      - task/rewrite

jobs:
  run-checks:
    strategy:
      fail-fast: false
      matrix:
        session:
          - formatting
          - imports
          - typing
          - line_lengths
          - licensing
          - spelling
          - safety
          - security

    name: Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: python -m pip install nox

      - name: Run check
        run: python -m nox -s ${{ matrix.session }}

  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11-dev"
          - "pypy-3.7"
          - "pypy-3.8"
          - "pypy-3.9"

    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install nox . --use-feature=in-tree-build

      - name: Run tests
        run: |
          python -m nox -s tests
          mv .coverage .coverage.${{ matrix.os }}.${{ matrix.python-version }}

      - name: Upload coverage to action
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: .coverage.${{ matrix.os }}.${{ matrix.python-version }}
          retention-days: 1
          if-no-files-found: error

  upload-coverage:
    if: ${{ github.event_name }} != "pull_request"
    name: Upload coverage
    needs: [run-checks, run-tests]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: python -m pip install "coverage[toml]"

      - name: Download coverage
        uses: actions/download-artifact@v2
        with:
          name: coverage

      - name: Combine coverage
        run: |
          coverage combine
          coverage xml -i

      - name: Upload coverage to Code Climate
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: ${{ secrets.CC_REPORTER_ID }}
        with:
          coverageLocations: .coverage.xml:coverage.py
